---
pagination:
  data: collections.sections
  size: 1
  alias: section
permalink: "/sections/{{ section.section | slug }}/"
layout: layout.html
---
<h1>{{ section.section }}</h1>
<ul>
  {% for question in questions %}
    {% if question.section === section.section %}
      <li><a href="/questions/{{ question.title | slug }}/">{{ question.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<a href="/">Back</a>
