---
pagination:
  data: animals
  size: 5
  alias: animal
layout: layouts/default.njk
title: My personal zoo
---
<h1>{{ title }}</h1>
<hr>

{% for animal in pagination.items %}
<P>
    <strong>{{ animal.name }}</strong> is a <strong>{{ animal.breed }}</strong>
</P>
{% endfor %}

{% include "partials/pagination.njk" %}