---
layout: layouts/default.liquid
title: About Page
---
<h1>{{title}} </h1>

<p>My name is Malsini Masachchige and I'm a 3rd year computer programming student.</p>
<p>Working with liquid has been interesting so far and I chose that particular templating language because of its ease of use.</p>
<p>Here's an email for you to contact me - malsinimasachchige@gmail.com</p>

